* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    display: flex;
    justify-items: flex-end;
    padding: 10px;
    border-bottom: 1px solid red;
}

.header h1 {
    width: 90%;
    text-align: center;
}

.header div {
    width: 20%;
    text-align: right;
}

.sign-in {
    width: 300px;
    margin: 0 auto;
}

.height-20 {
    height: 20px;
}

table {
    width: 100%;
}

.form-input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(129, 129, 129);
    margin: 10px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(129, 129, 129, 0.7)
}

.create-new-acc {
    display: none;
    width: 350px;
    margin: 0 auto;
}

#search-btn {
    display: none;
}

.container {
    display: flex;
}

.user-container {
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.result-container {
    display: flex;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.result {
    display: none;
    width: 320px;
}

.player1-container {
    width: 230px;
    height: 200px;
}

.player2-container {
    width: 230px;
    height: 200px;
}

#player1-pick {
    display: none;
    height: 150px;
}

#player2-pick {
    display: none;
    height: 150px;
}

#player1-name {
    padding: 11px 0;
    color: #fff;
    background: rgb(2, 2, 2);
}

#player2-name {
    padding: 11px 0;
    color: #fff;
    background: rgb(2, 2, 2);
}

.selection {
    display: flex;
    flex-direction: column;
}



.rps-selection {
    padding: 17px;
    background: rgb(137, 137, 196);
}

.rps-selection:nth-child(even) {
    background: red;
}


.btn {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
}

.search-btn {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
}
